<footer class="footer">
	<div class="footer-container">
		<p>Este é um projeto da Origamid. Mais em origamid.com<br>Praia de Botafogo, 300, 5º andar - Botafogo - Rio de Janeiro</p>
		<%= image_tag("brafe.png", alt: "Brafé")%>
	</div>
</footer>
