</head>
	<header class="menu">
		<div class="menu-container">
			<a class="menu-logo" href="http://localhost:3000/"><%= image_tag("brafe.png", alt: "Brafé")%></a>
			<nav class="menu-nav">
				<ul>
					<li><%= link_to "Sobre", about_path %></li>
					<li><%= link_to "Produtos", produto_path %></li>
					<li><a href="#">Portfólio</a></li>
					<li><%= link_to "Contato", contato_path %></li>
				</ul>
			</nav>
		</div>
	</header>
